*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outerDiv{
    width: 100vw;
    height: 100vh;
    display: inline-grid;
    place-items: start end;
    background: #530053;
}
.innerDiv{
    width: 80vw;
    height: 76vh;
    display: grid;
    place-items: center;
}
.mainHeading{
    padding: 30px;
    color: #fbfcfd;
    font-size: 100px;

}
